body {
    background-color: #CFE0C3;
}

.navbar-color {
    background-color: #1F363D;
}

.list-color {
    background-color: #40798C;
}

div {
    /* border: black 1px solid; */
}

i:hover {
    cursor: pointer;
}

.backDrop {
    background-color: rgb(197, 197, 197);
}

.circleButton {
    border-radius: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 177, 255);
    cursor: pointer;
    border: black solid 1px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circleWidth {
    width: 50px;
}

.move {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

h2 {
    font-size: 10px;
}

h4 {
    cursor: pointer;
}

.dropdown-style {
    border: none;
    background-color: rgba(0,0,0,0);
}

.trash-hover {
    display: none;
    transition: all .4s;
}
.trash-hover:hover {
    color: red;
}
.bigHeight {
    height: 1000px;
    background-color: #70A9A1;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-items:hover .trash-hover{
    display: block;
}

.bigTrash {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 75px;
}

.foreverAnimate {
    animation: bounce 1s infinite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.foreverAnimate:hover {
    animation: none;
}

.backColor {
    background-color:#CFE0C3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#listItem {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}