

div {
    /* border: black 1px solid; */
}

i:hover {
    cursor: pointer;
}

.backDrop {
    background-color: rgb(197, 197, 197);
}

.circleButton {
    border-radius: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 177, 255);
    cursor: pointer;
    border: black solid 1px;
    margin: 5px;
}

.circleWidth {
    width: 50px;
}

.move {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

h2 {
    font-size: 10px;
}

.dropdown-style {
    border: none;
}

.trash-hover {
    transition: all .4s;
}
.trash-hover:hover {
    color: red;
}
.bigHeight {
    height: 1000px;
}